<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581566944333-uq5ea0jt3lj8u7e8nlq1tokemcgcscdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581566944333-uq5ea0jt3lj8u7e8nlq1tokemcgcscdh</string>
	<key>API_KEY</key>
	<string>AIzaSyC49eSE4zTGYzm2Qx_nAsnVpk5cjKIAQVc</string>
	<key>GCM_SENDER_ID</key>
	<string>581566944333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sinkShip</string>
	<key>PROJECT_ID</key>
	<string>sinkship-a4718</string>
	<key>STORAGE_BUCKET</key>
	<string>sinkship-a4718.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581566944333:ios:dc1143c3ddfda05ec37804</string>
</dict>
</plist>